

<h1>Books</h1>


<div class="indextitle">
<p>Title</p>
<% @books.each do |book| %>
<p>
<%=  book.title %><% end %></p>
</div>


<div class="indexbody"><p>Body</p>
 <% @books.each do |book| %>
 <p  ><%= book.body %><% end %>
</p></div>

 <div class="kick"> <% @books.each do |book| %>
 <p><%= link_to "Show", book_path(book.id) %>
 <%= link_to "Edit", edit_book_path(book.id) %>
 <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
 <% end %>
 </p>
 </div>





<h1>New book</h1>
<% if @book.errors.any? %>
  <%=@book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


    <%= form_with model: @book, url:'/books', method: :post do |f| %>
    <h4 >Title</h4>
    <%= f.text_field :title %>

    <h4>Body文</h4>
    <div class="table"><%= f.text_area :body%></div>


    <div class="table"><%=  f.submit 'Create Book' %></div>


  <% end %>
